@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@font-face {
  font-family: HKGroteskLight;
  src: url(./assets/fonts/hk-grotesk.regular.ttf);
}

@font-face {
  font-family: HKGroteskBold;
  src: url(./assets/fonts/hk-grotesk.bold.ttf);
}
